body {
            margin: 0;
            background-image: url("sakthi.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }